#hero {
  width: 100%;
  text-align: left;
  margin: auto;
  margin-bottom: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

.whole-graph-title {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 56px;
  background-color: var(--light-colour);
  color: var(--dark-colour);
  padding: 30px 20px;
  box-sizing: border-box;
}
.whole-graph-subtitle {
  width: 65%;
  margin: auto;
  margin-top: 20px;
  font-size: 28px;
  text-align: left;
}

.challenge-name {
  text-decoration: underline;
  margin-right: 3px;
}

a {
  color: #62a0a1;
  text-decoration: none;
}
a:link {
  color: #62a0a1;
  text-decoration: none;
}
a:visited {
  color: #62a0a1;
}
a:hover {
  color: var(--light-colour);
}

.separator {
  width: 10px;
  height: 10px;
  background-color: #006466;
  border: 1px solid #529a9b;
  margin: auto;
  border-radius: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.whole-graph-project-description {
  width: 65%;
  margin: auto;
  margin-bottom: 50px;
}

.bold-bit {
  font-weight: bold;
}

.dataset-description {
  font-style: italic;
}


.whole-graph-instructions {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--light-colour);
  color: var(--dark-colour);
  padding: 30px;
  width: 65%;
  box-sizing: border-box;
  margin: auto;
}
.whole-graph-instructions-title {
  padding: 0;
  margin-bottom: 10px;
  font-size: 28px;
}

.whole-graph-instructions-list {
  list-style-position: inside;
}

.whole-graph-instructions-list li::marker {
  content: "\29BF";
  color: var(--dark-colour);
}
.whole-graph-instructions-list li > span {
  margin-left: 7px;
}
.whole-graph-disclaimer {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 65%;
}

@media(max-width: 600px) {
  #hero {
    font-size: 16px;
  }
  .whole-graph-subtitle {
    width: 80%;
  }
  .whole-graph-project-description {
    width: 80%;
  }
  .whole-graph-instructions {
    width: 80%;
  }
  .whole-graph-disclaimer {
    width: 80%;
  }
}