@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Zilla+Slab:wght@300;400;500&display=swap');
:root {
  --dark-colour: #111218;
  --light-colour: #f6f2e7;
  --emissions-colour: #6c236c
}

*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--light-colour);
  background-color: #111218;
  margin: auto;
  text-align: center;
}

.cities-selector-group {
  width: 50%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  align-content: center;
}

.allcities-img, .somecities-img {
  background-color: #cccccc;
  width: 200px;
  height: 200px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.allcities-img {
  background-image: url("allcities.png");
  border-radius: 50%;
}

.somecities-img {
  background-image: url("somecities.png");
  border-radius: 50%;
}

.allcities-btn, .somecities-btn {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  padding: 15px 20px;
  margin: 70px 0px;
  background-color: var(--dark-colour);
  color: var(--light-colour);
  text-align: center;
  width: 200px;
  border-radius: 10px;
  outline: none;
  /* border: 2px solid var(--light-colour); */
  border: none;
  cursor: pointer;
}

.allcities-btn:hover, .somecities-btn:hover {
  color: var(--dark-colour);
  background-color: var(--light-colour);
  font-weight: bold;
}

@media(max-width: 600px) {
  .cities-selector-group {
    width: 100%;
  }
  .allcities-img, .somecities-img {
    width: 150px;
    height: 150px;
  }
  .allcities-btn, .somecities-btn {
    width: 150px;
    margin-top: 60px;
    font-size: 14px;
  }
}
